* {
  font-family: Lato;
}

.btn{
  border-radius:3px;
}

.my-btn{
  border:none;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2), 0 2px 2px rgba(0, 0, 0, .1);

}

.btn-primary{
  background: #7accc8;
}

.btn-primary:hover{
  background:#90d5d1;
}

.btn-primary:active{
  background:#7ececa !important;
}

.my-btn:focus, .my-btn:active, .my-btn:active:focus, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus{
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

/* ********** MAIN ********** */

#main {
  background:url('./img/background.png') center/cover no-repeat;
  color:#ffffff;
  height:100vh;
}

#main h1{
  font-size: 2.8rem;
  margin-top:20vh;
}

#main span{
  font-size: .8rem;
  max-width:530px;
  color:#d0e7e9;
}

#main #player{
  height:75px;
  width:75px;
  border:8px solid #ffffff;
  line-height: 59px;
}

#main #player:hover{
  cursor:pointer;
}

#main #button{
  font-size:1rem;
  letter-spacing: 2px;
  padding:12px 50px;
}

/* ********** ABOUT ********** */

#about{
  height:100vh;
  background:#e8b968;
  background-image: url('./img/iPad.png');
  background-repeat: no-repeat;
  background-size:53vw auto;
  background-position: 60vw 10vh;
  color:#ffffff;
}

#about h2{
  font-size:2.7rem;
}

#about p{
  font-size:.75rem;
  line-height:1.5rem;
}

#about #button{
  font-size:.9rem;
  letter-spacing: 1px;
  padding:10px 50px;
  border:2px solid #ffffff;
}

#about #button:hover{
  color: #e8b968;
}

/* TESTIMONIALS */

#testimonials{
  background:#5b6869;
  color:#ffffff;
}

#testimonialsCarousel{
  padding:50px 0;
}

#testimonialsCarousel .carousel-item{
  text-align:center;
}

#testimonialsCarousel .carousel-item img{
  width:90px;
  height:90px;
  border-radius:50%;
  border:4px solid #ffffff;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
  box-shadow:0 2px 0 rgba(0, 0, 0, .1);
  
}

#testimonialsCarousel .carousel-item span{
  display:block;
  font-weight:lighter;
  font-size:2rem;
  font-style:italic;
  text-align: center;
  max-width:800px;
  margin:1rem auto;
}

#testimonialsCarousel .carousel-indicators li{
  width:12px;
  height:12px;
  border-radius: 50%;
  background-color:transparent;
  border:2px solid #ffffff;
  margin-left:15px;
}

#testimonialsCarousel .carousel-indicators li.active{
  background-color:#ffffff;
}