* {
  font-family: Lato;
}

.btn{
  border-radius:3px;
}

.my-btn{
  border:none;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2);
  font-size:1rem;
  letter-spacing: 2px;

}

.btn-primary{
  background: #7accc8;
}

.btn-primary:hover{
  background:#90d5d1;
}

.btn-primary:active{
  background:#7ececa !important;
}

.btn-danger{
  background:#f69679;
}

.btn-danger:hover{
  background:#f7a288;
}

.btn-danger:active{
  background:#f7a288 !important;
}

.my-btn:focus, .my-btn:active, .my-btn:active:focus, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus{
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
    box-shadow: none;
}

/* ********** MAIN ********** */

#main {
  background:url('./img/background.png') center/cover no-repeat;
  color:#ffffff;
  height:100vh;
}

#main h1{
  font-size: 2.8rem;
  margin-top:20vh;
}

#main span{
  font-size: .8rem;
  max-width:530px;
  color:#d0e7e9;
}

#main #player{
  height:75px;
  width:75px;
  border:8px solid #ffffff;
  line-height: 59px;
}

#main #player:hover{
  cursor:pointer;
}

#main #button{
  padding:12px 50px;
}

/* ********** ABOUT ********** */

#about{
  min-height:100vh;
  background:#e8b968;
  background-image: url('./img/iPad.png');
  background-repeat: no-repeat;
  background-size:53vw auto;
  background-position: 60vw 10vh;
  color:#ffffff;
}

#about h2{
  font-size:2.7rem;
}

#about p{
  font-size:.75rem;
  line-height:1.5rem;
}

#about #button{
  font-size:.9rem;
  letter-spacing: 1px;
  padding:10px 50px;
  border:2px solid #ffffff;
}

#about #button:hover{
  color: #e8b968;
}

/* ********** TESTIMONIALS ********** */

#testimonials{
  background:#5b6869;
  color:#ffffff;
}

#testimonialsCarousel{
  padding:50px 0;
}

#testimonialsCarousel .carousel-item{
  text-align:center;
}

#testimonialsCarousel .carousel-item img{
  width:90px;
  height:90px;
  border-radius:50%;
  border:4px solid #ffffff;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
  box-shadow:0 2px 0 rgba(0, 0, 0, .1);
  
}

#testimonialsCarousel .carousel-item span{
  display:block;
  font-weight:lighter;
  font-size:2rem;
  font-style:italic;
  text-align: center;
  max-width:800px;
  margin:1rem auto;
}

#testimonialsCarousel .carousel-indicators li{
  width:12px;
  height:12px;
  border-radius: 50%;
  background-color:transparent;
  border:2px solid #ffffff;
  margin-left:15px;
}

#testimonialsCarousel .carousel-indicators li.active{
  background-color:#ffffff;
}

/* ********** FEATURES ********** */

#features {
  color:#9197a8;
}

#features .row{
  justify-content: space-around;
}

#features h3{
  text-transform: uppercase;
  font-size:.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin:1rem 0;
}

#features p{
  font-size:.75rem;
  line-height: 1.4rem;
  letter-spacing: 1px;
}

#features #button{
  padding:12px 32px;
}

/* ********** FEATURES 2 ********** */

#features2{
  background-color: #f6f6f4;
  color:#9197a8;
  position:relative;
}
#features2 .card{
  max-width:340px;
  border:none;
  border-radius:0;
  box-shadow:0 3px 0 #eaeaea;
}

#features2 .row{
  padding-bottom: 1rem;
}

#features2 .card .card-img-top{
  border-radius:none;
}

#features2 .card .card-body{
  padding:10% 15%;
}

#features2 .card .card-body .card-text{
  font-size:.75rem;
  font-style:italic;
}

#features2 .card .card-body .card-title{
  text-transform: uppercase;
  font-size:.8rem;
  font-weight: bold;
  letter-spacing: 3px;
}

#features2 .slide-title{
  font-weight: lighter;
  font-size:2rem;
}

#features2 .slide-text{
  font-size:.75rem;
  letter-spacing:1px;
}

#features2 .carousel-controls{
  height:60px;
  width:60px;
  position:absolute;
  right:5%;
  bottom:0;
  display: flex;
  justify-content: space-between;
}

.carousel-controls .next, .carousel-controls .prev{
  width:25px;
  text-align:center;
  text-decoration: none;
  color:#959595;
  display:inline-block;
  line-height: 60px;

}

/* ********** FOOTER ********** */

footer {
  background-color:#7accc8;
  color:#ffffff;
  font-size:.7rem;
}

footer p{
  max-width:185px;
  margin-right:4%;
}

footer p:first-of-type{
  max-width:320px;
}

footer ul{
  list-style: none;
}

footer ul li{
  margin-bottom:1rem;
}

footer ul li a{
  text-decoration: none;
  color: #ffffff;
}

footer ul li a:hover{
  text-decoration: none;
  color: #ffffff;
}

footer span{
  letter-spacing: 2px;
}