* {
  font-family: Lato;
}

.btn{
  border-radius:3px;
}

.my-btn{
  border:none;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2), 0 2px 2px rgba(0, 0, 0, .1);

}

.btn-primary{
  background: #7accc8;
}

.btn-primary:hover{
  background:#90d5d1;
}

.btn-primary:active{
  background:#7ececa !important;
}

.my-btn:focus, .my-btn:active, .my-btn:active:focus, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus{
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

/* ********** MAIN ********** */

#main {
  background:url('./img/background.png') center/cover no-repeat;
  color:#ffffff;
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#main h1{
  font-weight: lighter;
  font-size: 45px;
  display: inline-block;
  margin-top:20vh;
}

#main span{
  font-size: 13px;
  font-style: italic;
  display:inline-block;
  max-width:530px;
  text-align:center;
  color:#d0e7e9;
}

#main #player{
  height:75px;
  width:75px;
  border-radius:50%;
  border:8px solid #ffffff;
  line-height: 59px;
  text-align: center;
  margin:auto 0;
}

#main #player:hover{
  cursor:pointer;
}

#main #player img{
    vertical-align: middle;
}

#main #button{
  font-weight: bold;
  font-size:17px;
  letter-spacing: 2px;
  padding:12px 50px;
  margin-bottom:10px;
  margin:auto 0 50px;
}

/* ********** ABOUT ********** */

#about{
  height:100vh;
  background:#e8b968;
  background-image: url('./img/iPad.png');
  background-repeat: no-repeat;
  background-size:53vw auto;
  background-position: 60vw 10vh;
  padding:5% 0;
  color:#ffffff;
}

#about h2{
  font-weight: lighter;
  font-size:41px;
}

#about p{
  font-size:.75rem;
  line-height:1.5rem;
}

#about #button{
  font-size:14px;
  letter-spacing: 1px;
  font-weight: bold;
  padding:10px 50px;
  border:2px solid #ffffff;
}

#about #button:hover{
  color: #e8b968;
}